@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Gotham Bold";
  src: url("./assets/fonts/GothamBold.ttf") format("truetype");
}

@font-face {
  font-family: "Gotham Regular";
  src: url("./assets/fonts/GothamRegular.ttf") format("truetype");
}

:root {
    /* VARIABLES */
  /* Colors */
  /* p stands for primary, s stands for secondary */
  --p-black: #191414;
  --p-gray: #242526;
  --p-green: #1DB954;
  --p-lime: #1ED760;
  --p-white: #FFFFFF;
  --s-spearmint: #4B917D;
  --s-fuschia: #F037A5;
  --s-citric: #CDF564;
  
  font-family: "Gotham Regular", Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: white;
  background: linear-gradient(180deg, #242526, #191414);
  background-repeat: no-repeat;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;

  scrollbar-color: #1DB954 transparent;
  scrollbar-width: thin;
  scroll-behavior: smooth;
}

body::-webkit-scrollbar {
  width: 0.5em;
}

body::-webkit-scrollbar-track {
  background-color: transparent;
}

body::-webkit-scrollbar-thumb {
  background-color: #1DB954;
  border-radius: 4px;
}

/* TYPEFACE */
h1, h2, h3, h4, h5, h6 {
  font-family: "Gotham Bold";
}

p, a, li {
  font-family: "Gotham Regular";
}

.title {
  font-size: 1.5rem;
  margin-bottom: 2rem;
  font-family: "Gotham Bold", sans-serif;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

/* LAYOUT */
.defaultPaddingX {
  @apply px-6 md:px-16 xl:px-[10%];
}

.defaultPaddingY {
  @apply py-16;
}

main {
  @apply defaultPaddingX defaultPaddingY;
}

/* BUTTONS */
.btn {
  color: white;
  padding: .25rem 1rem;
  border-radius: 1rem;
  text-decoration: none;
  font-size: .9rem;
  outline: none;
  border: none;
  cursor: pointer;
  font-weight: 600;
  transition-duration: 300ms;
}

.btnPrimary {
  @apply btn bg-green enabled:hover:bg-emerald-800;
}

.btnDanger {
  @apply btn bg-red-500 enabled:hover:bg-red-800;
}

/* TABLE */
table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
  text-align: left;
}

th {
  border-bottom: solid 1px gray;
}

td {
  border-bottom: 1px solid rgb(73, 72, 75);
}

th, td {
  padding: 1rem 0.5rem;
}

/* NAVBAR */
.nav {
  background: black;
  padding: 2rem;
  min-width: 12%;
  position: sticky;
  left: 0;
  bottom: 0;
  z-index: 50;
}

nav > ul { 
  list-style-type: none;
}

a {
  text-decoration: none;
}

.nav-button {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  align-items: center;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  color: white;
  opacity: 75%;
  transition-duration: 100ms;
  cursor: pointer;
}

.nav-button:hover {
  opacity: 100%;
}

.status {
  border: solid 1px var(--p-green);
  color: var(--p-green);
  border-radius: 24px;
  padding: 0rem 0.5rem;
  font-family: 'Gotham Bold', sans-serif;
  font-size: 0.75rem;
  width: fit-content;
  z-index: 100;
}

.divider {
  border-bottom: 1px solid gray;
  margin-top: 1rem;
  margin-bottom: 1rem;
  opacity: 50%;
}

/* UNDERLINE ANIMATION */
.un {
  display: inline-block;
  padding-bottom:2px;
  background-image: linear-gradient(#1DB954, #1DB954);
  background-position: 0 100%; /*OR bottom left*/
  background-size: 0% 1px;
  background-repeat: no-repeat;
  transition:
    background-size 0.2s,
    background-position 0s 0.2s; /*change after the size immediately*/
}

.un:hover {
  background-position: 100% 100%; /*OR bottom right*/
  background-size: 100% 1px;
}